.program {
  min-height: 705px;

  &__wrapper {
    min-height: 804px;
    border: 3px solid $secondary-color;
    border-radius: 10px;
    min-height: 804px;
    background: #fff;
    position: absolute;
    top: 55px;
  }

  &__title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: $main-color;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;

    &_marked {
      width: 100%;
      background: $secondary-color;
      color: #fff;
    }
  }

  &__lesson {
    margin-top: 5px;
    list-style-type: none;

    &-item {
      display: inline-block;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      margin-top: 20px;

      &::before {
        content: '';
        display: inline-block;
        margin: 1px 10px 1px 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $secondary-color;
      }
    }
  }

  &__descr {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    color: $main-color;
    text-align: center;
    margin-top: 30px;
  }

  &__results {
    width: 90%;
    margin-top: 0;
    margin-bottom: 20px;
    list-style-type: none;
    counter-reset: myCounter;
  }

  &__result {
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: left;
    margin-top: 40px;
    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $secondary-color;
      font-weight: bold;
      font-size: 24px;
      line-height: 40px;
      color: #fff;
      margin-right: 10px;
      text-align: center;
    }
  }
} 