.questions {
  &__title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 50px;
    margin-top: 70px;
    span {
      color: $secondary-color;
    }
  }
  &__content{
    &:first-child{
      margin-bottom: 20px;
    }
  }
  &__img {
    width: 363px;
    height: 345px;
    object-fit: cover;
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: $main-color;
    margin-top: 40px;
    margin-bottom: 0;
    span{
      font-weight: bold;
    }
    &-arrowed {
      &_left{
        position: relative;
        text-align: right;
        &::before{
          content: '';
          position: absolute;
          top: -5px;
          left: -10%;
          border: 50px solid transparent; 
          border-right: 10px solid $secondary-color; 
        }
      }
      &_right{
        position: relative;
        text-align: left;
        &::before{
          content: '';
          position: absolute;
          top: -5px;
          right: -10%;
          border: 50px solid transparent; 
          border-left: 10px solid $secondary-color; 
        }
      }
    }
  }
}